<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>controller.ControllerClass</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>controller.ReadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  
</web-app>
